@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCFPrEHJA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCMPrEHJA.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCHPrEHJA.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCGPrEHJA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    margin: 0;
    padding: 0;
    background: #E8DAB2;
    font-family: 'Raleway';
}

/* ---------------- Cabeça ---------------- */
header {
  height: 100vh;
  position: relative;
}

.cabeçalho-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  left: 25px;
}

.cabeçalho-logo {
  width: 370px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  right: 0;
}

header h2 {
  font-size: 26px;
  font-style: italic;
}

header h1 {
  font-size: 52px;
  font-weight: 900;
  margin-top: 0;
}

/* ---------------- Artigo ---------------- */

main {
  width: 100%;
}

article {
  /*margin-left: calc(100% - 800px);
  margin-right: calc(100% - 800px);
  position: absolute;*/
  margin-left: 50%;
  transform: translateX(-50%);
  width: 800px;
  padding: 34px 24px;
  background-color: #FFFFFF;
  border-radius: 12px;
  line-height: 24px;
  box-shadow: 0 0 10px 5px #13010144;
  box-sizing: border-box;
}

article h2 {
  font-size: 30px;
}

article img {
  width: calc(100% - 15px);
  height: auto;
}

article iframe {
  width: calc(100% - 15px);
  height: 400px;
  border-radius: 13px;
  border: none;
}

/* ---------------- Footer ---------------- */

footer {
  background: #090909;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer p {
  color: #FFFFFF;
  text-align: right;
  padding-right: 16px;
  font-weight: 500;
}

footer a {
  color: #35B1D2;
  text-decoration: none;
}

/*cor do fundo da página: #E8DAB2
Header
altura do header: mesmo tamanho da altura da tela
tamanho da fonte Bem vindo: 26px
tamanho da fonte do titulo escrito Petshop Salchichinha: 52px

tamanho da silhoueta do cachorro 370x192

Informativo da página (Parte com fundo branco)

largura: 800px

Espaçamentos dentro do container: 34px no topo, 10px no fundo e 24px nas duas laterais

Tamanho dos título: 30px

entrelinha dos paragrafos: 24px
Tamanhos das imagens e vídeos: tamanho total do container, menos 15 pixels de cada lado
Rodapé

Comportamento fixo no fundo da página
espaçamento dentro do container: 16px para todos os lados
altura: 50px
cor do fundo: #090909
cor do link: #35B1D2
embed youtube https://www.youtube.com/embed/IKMPWnRRV04
